//- Home Page
doctype html
html(lang="en")
    include /public/app/includes/header.jade
    include /public/app/includes/nav.jade

    div(class='page-content container-fluid' ui-view='content')
        div(class='responsive' ng-controller='coreCtrl')
            h1 Please Sign In

            form(class='login-form')
                div(class='form-group')
                    label() Username
                        input(type='text' class='form-control' placeholder='Username')

                div(class='form-group')
                    label() Password
                        input(type='text' class='form-control' placeholder='Password')

                div(class='form-group')
                    div(class='checkbox')
                        input(type='checkbox')
                        label Remember Me


                button(type='submit' class='btn btn-success submit') Submit