.responsive {

  .login-form {

    width: 600px;
    margin: 0px auto 50px auto;

    label {
      display: inline;
      width: 100%;
    }

    .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
      position: relative;
      margin-left: 0px;
    }
    
    .submit {
      width: 100%;
    }
  }

}

@media (min-width: 0px) and (max-width: 767px){

  .responsive {

    .login-form {

      width: 100%;
      margin: 0px auto 50px auto;

      label {
        display: inline;
        width: 100%;
      }

      .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
        position: relative;
        margin-left: 0px;
      }

      .submit {
        width: 100%;
      }
    }

  }

}