//- Home Page
doctype html
html(lang="en")
   include /public/app/includes/header.jade
   include /public/app/includes/nav.jade

   div(class='page-content container-fluid' ui-view='content')
       div(class='responsive' ng-controller='coreCtrl')
            h1 Welcome Guest!

            a(ng-href='/login.html')
                button(class='btn btn-primary' ) Log In

            a(ng-href='/register.html')
                button(class='btn btn-success' ng-href='/register.html' ) Register
