@import 'config';

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: white;
}

.navbar-default {
  background-image: none;
  background-color: #208EFA !important;

  .navbar-nav>li>a, .navbar-default .navbar-text {
    color: white;
    font-weight: bold;
  }

  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-left: 0px;
    margin-right: 0px;
  }

  .navbar-header {
    display: inline-block;

  }

  .navbar-toggle {
    margin: 10px 0px 10px 0px;
    background-color: white;
  }

  .navbar-brand, .navbar-brand:hover {
    color: darkblue;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    height: auto;
    text-align: left;
    line-height: 20px;
    float: left;
  }
  
  .navbar-nav {
    float: right;
    margin: 10px 10px 10px 10px;
  }


}

.responsive {
  text-align: center;
  width: 80%;
  margin: auto;

  h1 {
    color: #208EFA;
    margin-bottom: 25px;
  }

  h2 {
    text-align: center;
    display: block;
    margin-bottom: 25px;
  }
  
  button {
     width: 600px;
     display: block;
     margin: auto;
     margin-bottom: 25px;
   }

  @media (min-width: 0px) and (max-width: 767px){

    .navbar-nav {
      float: right;
      margin: 0px;
    }
  }

}

@media (min-width: 0px) and (max-width: 767px){

  .responsive {
    text-align: center;
    width: 90%;
    margin: auto;

    button {
      font-size: 18px;
      width: 100%;
      display: block;
      margin: auto;
      margin-bottom: 25px;
      float: right;
    }
  }

  .navbar-nav {
    float: right;
    margin: 0px;
  }

  .navbar-header {
    width: 100%;
  }

  .navbar-default .container-fluid>.navbar-header {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #FFFFFF
  }

  .navbar-default .navbar-nav {
    float: left;
    margin: 5px 0px 0px 0px;
  }

}

@media (min-width: 0px) and (max-width: 460px){

  .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #00008b;
    font-family: Raleway,sans-serif;
    font-weight: 600;
    width: 80%;
    height: auto;
    text-align: left;
    line-height: 20px;
    float: left;
  }

}
