//- Home Page
doctype html
html(lang="en")
    include /public/app/includes/header.jade
    include /public/app/includes/nav.jade
    div(class='page-content container-fluid' ui-view='content')
        div(class='responsive' ng-controller='registerCtrl')
            h1 Registration
            form(class='register-form')
                div(class='form-group')
                    label() Name
                        input(type='text' class='form-control' placeholder='Name' id='name' ng-model='user.name' )
                div(class='form-group')
                    label() Email Address
                        input(type='text' class='form-control' placeholder='Email Address' id='emailAddress' ng-model='user.emailAddress')
                div(class='form-group')
                    label() Phone Number
                        input(type='text' class='form-control' placeholder='Phone Number' id='phoneNumber' ng-model='user.phoneNumber')
                div(class='form-group')
                    label() Username
                        input(type='text' class='form-control' placeholder='Username' id='userName' ng-model='user.userName')
                div(class='form-group')
                    label() Password
                        input(type='password' class='form-control' placeholder='Password' id='password' ng-model='user.password')
                button(type='submit' class='btn btn-success submit') Submit