.responsive {

  .register-form {

    width: 600px;
    margin: 0px auto 50px auto;

    label {
      display: inline;
      width: 100%;
    }

    .submit {
      width: 100%;
    }
  }

}

@media (min-width: 0px) and (max-width: 767px){

  .responsive {

    .register-form {

      width: 100%;
      margin: 0px auto 50px auto;

      label {
        display: inline;
        width: 100%;
      }

      .submit {
        width: 100%;
      }
    }

  }

}