head
      title='Digital Ocean API Controller'
      meta(name='viewport', content='width=device-width, initial-scale=1' )
      script(src= '/assets/js/vendor.bundle.js' )
      script(src= '/assets/js/app.bundle.js' )
      link(rel='stylesheet' type='text/css' href='/assets/css/vendor.bundle.css')
      link(rel='stylesheet' type='text/css' href='/assets/css/app.bundle.css')

