body(ng-app='core')
    nav(class='navbar navbar-default')
        div(class='container-fluid')
            div(class='navbar-header')
                button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#nav-container')
                    span(class='icon-bar')
                    span(class='icon-bar')
                    span(class='icon-bar')
                    span(class='icon-bar')
                a(class='navbar-brand' href='http://localhost') Cloud Computing Managment Dashboard

            div(class='collapse navbar-collapse' id='nav-container')
                ul(class='nav navbar-nav')
                    li
                        a(href='/index.html') Home
                    li
                        a(href='/login.html') Login
                    li
                        a(href='/register.html') Register
