<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Digital Ocean API Controller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/js/vendor.bundle.js"></script>
    <script src="/assets/js/app.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/vendor.bundle.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/app.bundle.css">
  </head>
  <body ng-app="core">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#nav-container" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="http://localhost" class="navbar-brand">Cloud Computing Managment Dashboard</a>
        </div>
        <div id="nav-container" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/login.html">Login</a></li>
            <li><a href="/register.html">Register</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
  <div ui-view="content" class="page-content container-fluid">
    <div ng-controller="registerCtrl" class="responsive">
      <h1>Registration</h1>
      <form class="register-form">
        <div class="form-group">
          <label>Name
            <input type="text" placeholder="Name" id="name" ng-model="user.name" class="form-control">
          </label>
        </div>
        <div class="form-group">
          <label>Email Address
            <input type="text" placeholder="Email Address" id="emailAddress" ng-model="user.emailAddress" class="form-control">
          </label>
        </div>
        <div class="form-group">
          <label>Phone Number
            <input type="text" placeholder="Phone Number" id="phoneNumber" ng-model="user.phoneNumber" class="form-control">
          </label>
        </div>
        <div class="form-group">
          <label>Username
            <input type="text" placeholder="Username" id="userName" ng-model="user.userName" class="form-control">
          </label>
        </div>
        <div class="form-group">
          <label>Password
            <input type="password" placeholder="Password" id="password" ng-model="user.password" class="form-control">
          </label>
        </div>
        <button type="submit" class="btn btn-success submit">Submit</button>
      </form>
    </div>
  </div>
</html>